body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    margin: 0 auto;
} 

.card{ 
    margin: 10px;  
    width: 200px;
} 

.nav2 {
    background-color: #181818;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav2 a {
    color: #fff;
    text-decoration: none;
} 

#logo {
    height: 50px;
} 

.nav-item{ 
    margin-left: 80px; 
}

